<div class="col-md-offset-2 col-md-8">
  <h1>Books</h1>
    <input class="form-control" ng-model='query' type="text" placeholder='Search'>
    <table class="table table-hover">
    <tr>
      <td>
        Title
      </td>
      <td>
        Copies Left
      </td>
      <td>
        Published
      </td>
    </tr>
    <tr ng-repeat='book in books | filter: query'>
      <td>
        <a href='#/library/books/{{book.pk}}'>{{book.title}}</a>
      </td>
      <td>
        {{book.copies - book.checkedOut}}
      </td>
      <td>
        {{book.published}}
      </td>
    </tr>
    </table>
</div>