<div class="col-md-offset-2 col-md-8">
  <h2>{{book.title}}</h2>
  <div class="row">
    <div class="col-md-6">
    <a class="btn btn-primary" href='#/library/books/'>Back To Books</a>
    <a class="btn btn-success" target="__blank__" href='{{book.amazonLink}}'>Purchase on Amazon</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="pull-left" ng-src='{{book.cover}}'>
      <blockquote class="blockquote-reverse" ng-show='book.note'>
      {{book.note}}
      <footer>Escribiente Note</footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Description</h3>
      <p>{{book.descript}}</p>
    </div>
  </div>
</div>